source/test/InjeCtor.Configuration.Test/Xml/Validation/SimpleTestSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SimpleTestSchema"
    targetNamespace="http://test.com/SimpleTestSchema"
    elementFormDefault="qualified"
    xmlns="http://test.com/SimpleTestSchema"
    xmlns:mstns="http://test.com/SimpleTestSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="ElementList" type="ElementTypeList"/>

	<xs:complexType name="ElementTypeList">
		<xs:sequence>
			<xs:element name="Element" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
